# Import Library

In [1]:
import pandas as pd
import numpy as np
import json
import pickle

# Load Model

In [2]:
with open('best_rf_model_tuned.pkl', 'rb') as file_1:
    best_rf_model_tuned = pickle.load(file_1)

# Inferencing

In [4]:
data_inf_1 = {
        'airline': 'AirAsia',
        'source_city': 'Mumbai',
        'departure_time': 'Evening',
        'stops': 'zero',
        'arrival_time': 'Night',
        'destination_city': 'Chennai',
        'class': 'Economy',
        'duration': '4',
        'days_left': '3'
    }

data_inf_1 = pd.DataFrame([data_inf_1])
data_inf_1

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
0,AirAsia,Mumbai,Evening,zero,Night,Chennai,Economy,4,3

In [5]:
# Predict using best model

y_pred_inf_1 = best_rf_model_tuned.predict(data_inf_1)

print(f"Prediction: {y_pred_inf_1}")

Prediction: [7996.92]

Prediksi menghasilkan ticket price seharga 7.997 untuk input pertama

In [7]:
data_inf_2 = {
        'airline': 'Vistara',
        'source_city': 'Kolkata',
        'departure_time': 'Morning',
        'stops': 'one',
        'arrival_time': 'Afternoon',
        'destination_city': 'Bangalore',
        'class': 'Business',
        'duration': '9',
        'days_left': '30'
    }

data_inf_2 = pd.DataFrame([data_inf_2])
data_inf_2

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
0,Vistara,Kolkata,Morning,one,Afternoon,Bangalore,Business,9,30

In [8]:
# Predict using best model

y_pred_inf_2 = best_rf_model_tuned.predict(data_inf_2)

print(f"Prediction: {y_pred_inf_2}")

Prediction: [64779.28]

Prediksi menghasilkan ticket price seharga 64.779 untuk input kedua